{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

<div>
    <p>{{ user.nama }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.noTelepon }}</p>
</div>

{% endblock %}
